body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.aside-img {
  display: none;
}

.main-signs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.form-group > label {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  border: 1px solid #000000;
  border-radius: 6px;
  background-color: #e8ebefff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: #000000;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #0079c8;
  border-width: 2px;
}

.form-group input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.login-button {
  width: 100%;
  height: 50px;
  background-color: #0079c8;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 3.5px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s, transform 0.1s;
}

.login-button:hover {
  background-color: #005fa3;
}

.login-button:active {
  transform: scale(0.98);
}

.signup-link {
  margin-top: 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #495057;
  opacity: 0.6;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.signup-link:hover, .login-link:hover {
  text-decoration: underline;
}

.signup-link span, .login-link span {
  color: #004ecc;
}

.login-container {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  position: relative;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.ellipse {
  position: absolute;
  border-radius: 50%;
}

.ellipse-1 {
  width: 647px;
  height: 430px;
  top: 620px;
  right: -390px;
  opacity: 0.85;
  background: linear-gradient(180deg, #3576d3 0%, #538ddf 100%);
  box-shadow: 0 4px 3.5px rgba(0, 0, 0, 0.25);
}

.ellipse-2 {
  width: 508px;
  height: 531px;
  top: 610px;
  left: -250px;
  opacity: 0.85;
  background: linear-gradient(180deg, #3576d3 0%, #538ddf 100%);
  box-shadow: 0 4px 3.5px rgba(0, 0, 0, 0.25);
}

.login-title {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  margin: 4.2rem 0 1.6rem;
}

.login-form {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.forgot-password {
  display: block;
  margin-top: 1.2rem;
  font-size: 1.2rem;
  color: #004ecc;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

@media screen and (width >= 390px){
  .main-signs {
    margin-top: 14rem;
  }

  .ellipse-1 {
    top: 720px;
    right: -400px;
  }

  .ellipse-2 {
    width: 848px;
    height: 551px;
    top: 720px;
    left: -500px;
  }
}

@media screen and (width >= 768px) {
  body {
    height: 100vh;
  }

  .main-signs {
    margin-top: 20rem;
  }

  .form-group > label {
    font-size: 2.2rem;
  }

  .form-group input {
    height: 6rem;
  }

  .login-button {
    height: 6rem;
    margin-top: 2rem;
    font-size: 2rem;
  }

  .signup-link {
    margin-top: 8rem;
    font-size: 2rem;
  }

  .login-container {
    padding: 0;
  }

  .login-form {
    width: 60rem;
    gap: 2.5rem;
  }

  .login-title {
    font-size: 3rem;
    margin: 5.8rem 0 4.2rem;
  }

  .forgot-password {
    font-size: 2rem;
  }

  .ellipse-1 {
    top: 920px;
    right: -200px;
  }

  .ellipse-2 {
    width: 848px;
    height: 551px;
    top: 870px;
    left: -400px;
  }
}

@media screen and (width >= 1024px) {
  .main-signs {
    margin-top: 28rem;
  }

  .form-group > label {
    font-size: 3rem;
  }

  .form-group input {
    height: 8rem;
    font-size: 2rem;
  }

  .login-button, .signup-button {
    height: 8rem;
    font-size: 3rem;
  }

  .login-form {
    width: 80rem;
    gap: 2.5rem;
  }

  .login-title {
    font-size: 4rem;
    margin: 5.8rem 0 4.2rem;
  }

  .ellipse-1 {
    width: 740px;
    top: 1100px;
    right: -200px;
  }

  .ellipse-2 {
    width: 848px;
    height: 551px;
    top: 1050px;
    left: -250px;
  }
}

@media screen and (width >= 1300px) {
  .main-signs {
    margin-top: 12rem;
  }

  .aside-img {
    display: block;
    width: 45%;
    height: 100%;
    z-index: 1;
    box-sizing: content-box;
  }

  .aside-img .side-image {
    width: 100%;
    height: 100%;
  }

  .form-group > label {
    font-size: 2.2rem;
  }

  .form-group input {
    height: 6rem;
    font-size: 2rem;
  }

  .login-button, .signup-button {
    height: 6rem;
    font-size: 2rem;
  }

  .login-container {
    overflow: hidden;
  }

  .aside-img {
    border-right: 70px solid #3576d3;
  }

  .login-form {
    width: 50rem;
  }

  .login-title {
    font-size: 3rem;
    margin: 5.8rem 0 4.2rem;
  }

  .forgot-password {
    font-size: 1.2rem;
  }

  .ellipse-1 {
    top: 820px;
    right: -150px;
  }

  .ellipse-2 {
    width: 900px;
    height: 600px;
    top: 800px;
    left: 700px;
  }
}

@media screen and (width >= 1440px) {
  .ellipse-1 {
    top: 820px;
    right: -250px;
  }

  .ellipse-2 {
    width: 900px;
    height: 600px;
    top: 800px;
    left: 400px;
  }
}

@media screen and (width >= 2500px) {
  .login-form {
    width: 70rem;
  }

  .ellipse-1 {
    width: 2000px;
    height: 1000px;
    top: 850px;
    right: -950px;
  }

  .ellipse-2 {
    width: 2000px;
    height: 1000px;
    top: 808px;
    left: 300px;
  }
}
