.login-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.ellipse {
  position: absolute;
  border-radius: 50%;
}

.ellipse-1 {
  width: 647px;
  height: 430px;
  top: 680px;
  right: -350px;
  opacity: 0.85;
  background: linear-gradient(180deg, #3576d3 0%, #538ddf 100%);
  /* filter: blur(3.5px); */
  box-shadow: 0 4px 3.5px rgba(0, 0, 0, 0.25);
}

.ellipse-2 {
  width: 508px;
  height: 531px;
  top: 650px;
  left: -250px;
  opacity: 0.85;
  background: linear-gradient(180deg, #3576d3 0%, #538ddf 100%);
  box-shadow: 0 4px 3.5px rgba(0, 0, 0, 0.25);
}

/* .vector-bg {
    position: absolute;
    top: -96px;
    left: 592px;
    width: 251px;
    height: 1152px;
    background: linear-gradient(180deg, 
        #c1dafe 0%, 
        #7f9fca 24.04%, 
        #6c9ada 36.54%, 
        #538ddf 50.48%, 
        #3766a7 66.83%, 
        #1b3d6d 83.65%);
    opacity: 0.85;
    filter: blur(3.5px);
    clip-path: ellipse(50% 50% at 50% 50%);
} */

.login-title {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  margin: 4.2rem 0 1.6rem;
}

.login-form {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.forgot-password {
  display: block;
  margin-top: 1.2rem;
  font-size: 1.2rem;
  color: #004ecc;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

@media screen and (width >= 768px) {
  .login-form {
    width: 60rem;
    gap: 2.5rem;
  }
  
  .login-title {
    font-size: 3rem;
    margin: 5.8rem 0 4.2rem;
  }

  .forgot-password {
    font-size: 2rem;
  }

  .ellipse-1 {
    top: 870px;
    right: -200px;
  }

  .ellipse-2 {
    width: 848px;
    height: 551px;
    top: 820px;
    left: -400px;
  }
}

@media screen and (width >= 1024px) {
  .login-form {
    width: 80rem;
    gap: 2.5rem;
  }

  .login-title {
    font-size: 4rem;
    margin: 5.8rem 0 4.2rem;
  }

  .ellipse-1 {
    top: 1050px;
    right: -200px;
  }

  .ellipse-2 {
    width: 848px;
    height: 551px;
    top: 1000px;
    left: -200px;
  }
}

@media screen and (width >= 1300px) {
  .aside-img {
    border-right: 70px solid #3576d3;
  }

  .login-form {
    width: 40rem;
  }

  .login-title {
    font-size: 3rem;
    margin: 5.8rem 0 4.2rem;
  }

  .forgot-password {
    font-size: 1.2rem;
  }

  .ellipse-1 {
    top: 850px;
    right: -250px;
  }

  .ellipse-2 {
    width: 848px;
    height: 551px;
    top: 808px;
    left: 300px;
  }
}

@media screen and (width >= 2500px) {
  .ellipse-1 {
    width: 2000px;
    height: 1000px;
    top: 850px;
    right: -950px;
  }

  .ellipse-2 {
    width: 2000px;
    height: 1000px;
    top: 808px;
    left: 300px;
  }
}