.signup-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.logo-placeholder {
  margin-top: 1rem;
}

.signup-title {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  margin: 4.2rem 0 1.6rem;
}

.signup-form {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

@media screen and (width >= 768px) {
  .signup-form {
    width: 60rem;
    gap: 2.5rem;
  }
  
  .signup-title {
    font-size: 3rem;
    margin: 5.8rem 0 4.2rem;
  }
}

@media screen and (width >= 1024px) {
  .signup-form {
    width: 80rem;
    gap: 1rem;
  }

  .signup-title {
    font-size: 4rem;
    margin: 5.8rem 0 4.2rem;
  }
}

@media screen and (width >= 1300px) {
  .aside-img {
    border-left: 70px solid #3576d3;
  }

  .signup-form {
    width: 40rem;
  }

  .signup-title {
    font-size: 3rem;
    margin: 3.8rem 0 2.2rem;
  }

  .login-link {
    margin-top: 2rem;
  }
}